@import "common";
@import "mixins";

$width: 600px;
$height: 500px;

$vertical-margin: ($screen-height - $height) / 2;
$horizontal-margin: ($screen-width - $width) / 2;

#game > .inventory {
	@include full-screen;

	.drop-zone {
		position: absolute;

		&.highlight {
			background-color: rgba(100, 100, 200, 0.1);
		}

		&.left, &.right {
			top: 0px;
			bottom: 0px;
			width: $horizontal-margin;

			&.left {
				left: 0px;
			}

			&.right {
				right: 0px;
			}
		}

		&.top, &.bottom {
			left: $horizontal-margin;
			right: $horizontal-margin;
			height: $vertical-margin;

			&.top {
				top: 0px;
			}

			&.bottom {
				bottom: 0px;
			}
		}
	}

	.main-window {
		@include display-styling;
		position: absolute;
		left: $horizontal-margin;
		right: $horizontal-margin;
		top: $vertical-margin;
		bottom: $vertical-margin;

		.item {
			.equipped {
				font-size: small;
				color: blue;
				padding-left: 5px;
			}
		}

		.close {
			position: absolute;
			right: 0px;
			top: 0px;
			color: red;
			padding: 1px;
			margin: 2px 3px;
			cursor: pointer;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(0, 0, 0, 0);
			border-radius: 3px;

			&:hover {
				border-color: red;
				background-color: rgba(255, 0, 0, 0.2);
			}
		}
	}
}
