@import "common";
@import "mixins";

$width: 600px;
$height: 500px;

$vertical-margin: ($screen-height - $height) / 2;
$horizontal-margin: ($screen-width - $width) / 2;

@mixin highlight-background {
	background-color: rgba(100, 100, 200, 0.1);

}

#game > .inventory {
	@include full-screen;

	.drop-zone {
		position: absolute;

		&.highlight {
			@include highlight-background;
		}

		&.left, &.right {
			top: 0px;
			bottom: 0px;
			width: $horizontal-margin;

			&.left {
				left: 0px;
			}

			&.right {
				right: 0px;
			}
		}

		&.top, &.bottom {
			left: $horizontal-margin;
			right: $horizontal-margin;
			height: $vertical-margin;

			&.top {
				top: 0px;
			}

			&.bottom {
				bottom: 0px;
			}
		}
	}

	.main-window {
		@include display-styling;
		position: absolute;
		left: $horizontal-margin;
		right: $horizontal-margin;
		top: $vertical-margin;
		bottom: $vertical-margin;
		padding: 10px 20px;

		h1 {
			margin-left: 20px;
		}

		.equip-box {
			@include centered;
			width: 100px;
			height: 100px;
			position: relative;
			border-radius: 5px;
			border-color: rgba(138, 212, 227, 0.8);
			border-style: solid;
			border-width: 2px;

			&.highlight {
				@include highlight-background;
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 48px;
				height: 48px;
				margin-top: -24px;
				margin-left: -24px;
			}
		}

		.item {
			.description {
				cursor: pointer;
			}

			.equipped {
				font-size: small;
				color: blue;
				padding-left: 5px;
			}
		}

		.close {
			position: absolute;
			right: 0px;
			top: 0px;
			color: red;
			padding: 1px;
			margin: 2px 3px;
			cursor: pointer;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(0, 0, 0, 0);
			border-radius: 3px;

			&:hover {
				border-color: red;
				background-color: rgba(255, 0, 0, 0.2);
			}
		}
	}
}
