@mixin full-screen {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

@mixin display-styling {
	background-color: rgba(113, 197, 253, 0.8);
	border-radius: 5px;
	border-color: rgba(138, 212, 227, 0.8);
	border-style: solid;
	border-width: 2px;
	color: #E3D9B8;
	font-family: "Arial, Helvetica, sans-serif";
	padding: 5px;
}
