body {
	margin: 0px;
	padding: 0px;
}

#game {
	position: relative;
}

.debug-screen {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;

	.fps {
		position: absolute;
		top: 0px;
		right: 0px;
		background-color: rgba(255, 255, 255, 0.2);
		padding: 3px;
	}
}

#game > .hud {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;

	.ammo-display {
		position: absolute;
		right: 0px;
		top: 0px;
	}
}
