body {
	font-family: Verdana, Geneva, sans-serif
}

li {
	list-style-type: none;
}

#parts-browser {
	float: left;
	margin-right: 100px;

	.part-name {
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.variant {
		cursor: pointer;
	}
}

#center-stuff {
	float: left;
}

canvas {
	border-style: solid;
	border-width: 1px;
}

#renders {
	margin-top: 20px;
	margin-bottom: 30px;
}
