<!-- drop zones -->
<div class="drop-zone left"></div>
<div class="drop-zone right"></div>
<div class="drop-zone top"></div>
<div class="drop-zone bottom"></div>

<!-- the good stuff -->
<div class="main-window">
	<h1>Inventory</h1>
	<div class="equip-box">
	</div>
	<div class="items">
	{{#each items}}
		<div class="item">
			<span class="description" data-item="{{@index}}">
				{{description}}
			</span>
			<span class="equipped">
				(equipped)
			</span>
		</div>
	{{/each}}
	</div>
	<div class="close">
		X
	</div>
</div>
