<!DOCTYPE html>
<html>
	<head>
		<title>Herrera - Gun Editor</title>
		<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://code.createjs.com/preloadjs-0.4.0.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
		<script>
			var require = {
				urlArgs: 'bust=' + (new Date()).getTime(),
				baseUrl: 'js/',
				paths: {
					"core": "/app/js/core",
					"game": "/app/js/game",
					"editor": "/gun-editor/js"
				}
			};
		</script>
		<script src="../app/js/require.js" data-main="editor/main.js"></script>
	</head>
	<body>
		<!-- View templates -->
		<script id="parts-browser-template" type="text/template">
			<ul>
				<% for (var partIndex in parts) { %>
					<% var part = parts[partIndex]; %>
					<li>
						<div><%- part.name %></div>
						<ul>
							<% for (var variantIndex in part.variants) { %>
								<% var variant = part.variants[variantIndex]; %>
								<li><%- variant.name %></li>
							<% } %>
						</ul>
					</li>
				<% } %>
			</ul>
		</script>

		<!-- The actual page -->
		<div id="parts-browser"></div>
		<div id="variant-viewer"></div>
	</body>
</html>
